.list {
  list-style: none;

}

.item {
  width: 100px;
  height: 100px;
}

.item:nth-child(1)
{
    background-color: red;
    position: absolute;
    top: 90px;
    left: 40px;
}

.item:nth-child(2) {
  background-color: blue;
  position: absolute;
  top: 150px;
  left: 100px;
  z-index: 1;
}

.item:nth-child(3) {
  background-color: green;
  position: absolute;
  top: 210px;
  left: 160px;
}
